subscription_id 	    = "xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
client_id 		        = "xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
client_secret 		    = "xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
tenant_id 		        = "xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
location 		        = "East US"
commonname              = "fndmnts"
vnet_cidr 		        = "10.0.0.0/16"
subnet1_cidr 		    = "10.0.2.0/24"
vm_username 		    = "azureuser"
vm_password 		    = "Password!1234"
environment             = "Production"